:root {

  /* Colors: */
  --unnamed-color-171c29: #171C29;
  --unnamed-color-00000034: #00000034;
  --unnamed-color-fff0f7: #FFF0F7;
  --unnamed-color-979797: #979797;
  --unnamed-color-303030: #303030;
  --unnamed-color-242424: #242424;
  --unnamed-color-434e95: #434E95;
  --unnamed-color-897452: #897452;
  --unnamed-color-64442a: #64442A;
  --unnamed-color-e52c86: #E52C86;
  --unnamed-color-707070: #707070;
  --unnamed-color-c8b98c: #C8B98C;
  --unnamed-color-2f2f2f: #2F2F2F;
  --unnamed-color-b02372: #B02372;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-000000: #000000;
  
  /* Font/text values */
  --unnamed-font-family-noto-sans: Noto Sans;
  --unnamed-font-family-genkaimincho: Genkaimincho;
  --unnamed-font-family-source-han-serif: Source Han Serif;
  --unnamed-font-family-noto-serif-jp: Noto Serif JP;
  --unnamed-font-family-din-2014: DIN 2014;
  --unnamed-font-family-noto-sans-jp: Noto Sans JP;
  --unnamed-font-family-senobi-gothic: Senobi Gothic;
  --unnamed-font-family-c-a-gatintas: C.A. Gatintas;
  --unnamed-font-style-normal: normal;
  --unnamed-font-style-italic: italic;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-size-9: 9px;
  --unnamed-font-size-10: 10px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-19: 19px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-22: 22px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-25: 25px;
  --unnamed-font-size-31: 31px;
  --unnamed-font-size-35: 35px;
  --unnamed-font-size-38: 38px;
  --unnamed-font-size-40: 40px;
  --unnamed-font-size-44: 44px;
  --unnamed-font-size-80: 80px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-character-spacing-0-95: 0.95px;
  --unnamed-character-spacing-1-75: 1.75px;
  --unnamed-character-spacing-0-9: 0.9px;
  --unnamed-character-spacing-2-4: 2.4px;
  --unnamed-line-spacing-13: 13px;
  --unnamed-line-spacing-14: 14px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-20: 20px;
  --unnamed-line-spacing-23: 23px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-26: 26px;
  --unnamed-line-spacing-27: 27px;
  --unnamed-line-spacing-28: 28px;
  --unnamed-line-spacing-29: 29px;
  --unnamed-line-spacing-31: 31px;
  --unnamed-line-spacing-32: 32px;
  --unnamed-line-spacing-35: 35px;
  --unnamed-line-spacing-36: 36px;
  --unnamed-line-spacing-45: 45px;
  --unnamed-line-spacing-50: 50px;
  --unnamed-line-spacing-55: 55px;
  --unnamed-line-spacing-56: 56px;
  --unnamed-line-spacing-58: 58px;
  --unnamed-line-spacing-64: 64px;
  --unnamed-line-spacing-102: 102px;
  }
  
  /* Character Styles */
  .unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-noto-serif-jp);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-senobi-gothic);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-9);
  line-height: var(--unnamed-line-spacing-13);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2f2f2f);
  }
  .unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-senobi-gothic);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-10);
  line-height: var(--unnamed-line-spacing-14);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2f2f2f);
  }
  .unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-din-2014);
  font-style: var(--unnamed-font-style-italic);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-31);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-e52c86);
  }
  .unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-noto-serif-jp);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-6 {
  font-family: var(--unnamed-font-family-noto-sans-jp);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-e52c86);
  }
  .unnamed-character-style-7 {
  font-family: var(--unnamed-font-family-source-han-serif);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-35);
  letter-spacing: var(--unnamed-character-spacing-2-4);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-8 {
  font-family: var(--unnamed-font-family-noto-serif-jp);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-26);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-9 {
  font-family: var(--unnamed-font-family-senobi-gothic);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-40);
  line-height: var(--unnamed-line-spacing-56);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-e52c86);
  }
  .unnamed-character-style-10 {
  font-family: var(--unnamed-font-family-senobi-gothic);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2f2f2f);
  }
  .unnamed-character-style-11 {
  font-family: var(--unnamed-font-family-senobi-gothic);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-25);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2f2f2f);
  }
  .unnamed-character-style-12 {
  font-family: var(--unnamed-font-family-senobi-gothic);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-40);
  line-height: var(--unnamed-line-spacing-56);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2f2f2f);
  }
  .unnamed-character-style-13 {
  font-family: var(--unnamed-font-family-noto-sans-jp);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-29);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2f2f2f);
  }
  .unnamed-character-style-14 {
  font-family: var(--unnamed-font-family-noto-sans-jp);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-40);
  line-height: var(--unnamed-line-spacing-58);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2f2f2f);
  }
  .unnamed-character-style-15 {
  font-family: var(--unnamed-font-family-noto-serif-jp);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-26);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-16 {
  font-family: var(--unnamed-font-family-source-han-serif);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-26);
  letter-spacing: var(--unnamed-character-spacing-0-9);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-17 {
  font-family: var(--unnamed-font-family-noto-serif-jp);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-31);
  line-height: var(--unnamed-line-spacing-45);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2f2f2f);
  }
  .unnamed-character-style-18 {
  font-family: var(--unnamed-font-family-noto-sans-jp);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2f2f2f);
  }
  .unnamed-character-style-19 {
  font-family: var(--unnamed-font-family-din-2014);
  font-style: var(--unnamed-font-style-italic);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-80);
  line-height: var(--unnamed-line-spacing-102);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-897452);
  }
  .unnamed-character-style-20 {
  font-family: var(--unnamed-font-family-noto-serif-jp);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-44);
  line-height: var(--unnamed-line-spacing-64);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-21 {
  font-family: var(--unnamed-font-family-noto-sans-jp);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-38);
  line-height: var(--unnamed-line-spacing-55);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-22 {
  font-family: var(--unnamed-font-family-source-han-serif);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-35);
  line-height: var(--unnamed-line-spacing-50);
  letter-spacing: var(--unnamed-character-spacing-1-75);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-23 {
  font-family: var(--unnamed-font-family-c-a-gatintas);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-22);
  line-height: var(--unnamed-line-spacing-32);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-24 {
  font-family: var(--unnamed-font-family-source-han-serif);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-19);
  line-height: var(--unnamed-line-spacing-27);
  letter-spacing: var(--unnamed-character-spacing-0-95);
  color: var(--unnamed-color-000000);
  }
  .unnamed-character-style-25 {
  font-family: var(--unnamed-font-family-genkaimincho);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-19);
  line-height: var(--unnamed-line-spacing-23);
  letter-spacing: var(--unnamed-character-spacing-0-95);
  color: var(--unnamed-color-000000);
  }
  .unnamed-character-style-26 {
  font-family: var(--unnamed-font-family-noto-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2f2f2f);
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* width: 1440px; */
  margin: 0;
  padding: 0;
}

/*********ヘッダー部分*******/
.header {
  display: block;
  position: relative;
  width: 1440px;
  /* width: 100%; */
  height: 99px;
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
  z-index: auto;
}

/* .header-child {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 99px;
} */

.top-logo-main {
  position: absolute;
  top: 11px;
  left: 95px;
  width:163px;
  height: 71px;
  background: transparent url('../img/グループ 35.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.top-logo-sub {
  position: absolute;
  top: 44px;
  left: 286px;
  width:128px;
  height: 14px; 
  background: transparent url('../img/グループ\ 36.png') 0% 0% no-repeat padding-box;
  opacity: 1; 
}

.top-support {
  position: absolute;
  top: 25px;
  right: 140px;
  width: 400px;
  height: 50px;
  background: transparent url('../img/グループ 301.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

/*******************トップ画像*******************/
.top-image {
  z-index: -1;
  position: absolute;
  top: -162px;
  left: -2px;
  width: 1440px;
  /* width: 100%; */
  height: 932px;
  /* UI Properties */
  background: transparent url('../img/グループ 305.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  /* background-size:cover ; */
}

/****************入会キャンペーン****************/
/*******main部分は色が共通しているため先に色を定義しておく******/
.main {
  background-color: var(--unnamed-color-242424);
}
.top-content {
  display: block;
  margin-top: 671px;
}
.top-campaign {

  height: 1099.94px;
  /* width: 100%; */
  width: 1440px;
  z-index: -1;
}

.campaign-context {
  /* position: relative; */
  /* top: 931px;
  left: 560px; */
  padding-top:100px ;
  margin: 0 auto;
  width: 530px;
  height: 40px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 28px/40px var(--unnamed-font-family-source-han-serif);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal bold 28px/40px Source Han Serif;
  letter-spacing: 1.4px;
  color: #FFFFFF;
  opacity: 1;
  top:100px;
}
.campaign-context2 {
  position: relative;
  text-align: center;
  z-index: 2;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 28px/40px var(--unnamed-font-family-source-han-serif);
  color: var(--unnamed-color-ffffff);
  font: normal normal bold 28px/40px Source Han Serif;
  letter-spacing: 1.4px;
}
.campaign-context1 {
  position: relative;
  z-index: 4;
  text-align: center;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 28px/40px var(--unnamed-font-family-source-han-serif);
  color: var(--unnamed-color-ffffff);
  font: normal normal bold 28px/40px Source Han Serif;
  letter-spacing: 1.4px;
}

.campain-background1 {
  /***borderで対応？**/
/* Layout Properties */
position: absolute;
top: 242px;
right: 0px;
/* 本来のサイズwidth: 2153px; */
/* 一旦サイズ（1440px）に合わせて1426pxにしている */
width: 900px;
/* width: 100%; */
height: 1650px;
/* transform: matrix(-1, 0, 0, -1, 0, 0); */
/* UI Properties */
background: transparent url('../img/パス 36.png') 0% 0% no-repeat padding-box;
opacity: 0.8;
z-index: 1
}


.campain-background2 {
  /* Layout Properties */
  position: absolute;
  top: 770px;
  left: 0px;
  width: 1435px;
  height: 1100px;
  /* UI Properties */
  background: transparent url('../img/パス 35.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  /* z-index: 3; */
}
.campaign-price_nav {
  position: relative;
  margin: 0 auto;
  margin-top: 47.72px;
  margin-bottom: 43.36px;
  width: 343px;
  height: 117px;
  /* UI Properties */
  background: transparent url('../img/パス 37.png') 0% 0% no-repeat padding-box;
  /* box-shadow: 0px 3px 10px #ffffff0f; */
  opacity: 1;
  z-index: 2;
}

.campaign-price-parent {
  width: 100%;
  height: 323px;
}

.campaign-price {
  position: relative;
  margin: 0 auto;
  /* margin-bottom: 71px; */
  width: 831px;
  height: 467px;
  /* UI Properties */
  background: transparent url('../img/コンポーネント 5 – 1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
  margin-bottom: 71px;
}

/******************無料カウンセリングお問い合わせ部分**********************/
.support-back-image {
  position: relative;
  margin-top: -141px;
  /* Layout Properties */
  /* top: 1697px;
  left: 0px; */
  width: 1440px;
  height: 381px;
  /* UI Properties */
  background: transparent url('../img/clay rg-106.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  display: inline-block;
  padding-top: 67.96px ;
}

.support {
  position: absolute;
  left: 227px;
  width: 965px;
  height: 245px;
  /* UI Properties */
  background: url('../img/コンポーネント 2 – 1.png') 0% 0% no-repeat padding-box;
  /* background: rgba(red, green, blue, 1); */
  /* opacity: 1; */
  /* z-index: ; */
}
.feature {
  /* width: 100%; */
  width: 1440px;
  /* TODO heightは仮 */
  height: 2500px;
  overflow: visible;
}

.feature-title {
  /* margin-top: 100px; */
  /* Layout Properties */
  margin: 100px auto 0px auto;
  /* top: 2178px;
  left: 630px; */
  width: 180px;
  height: 66px;
  /* UI Properties */
  background: transparent url('../img/グループ 308.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.feature-sub-title {
  margin: 0 auto;
  /* top: 2243px;
  left: 587px; */
  width: 247px;
  height: 160px;
  background: transparent url('../img/グループ 307.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
}

.feature-backcoloer-dark {
  /* Layout Properties */
  position: absolute;
  top: 2293px;
  /* left: 0.00048828125px; */
  width: 966px;
  height: 1100px;
  /* UI Properties */
  background: var(--unnamed-color-303030) 0% 0% no-repeat padding-box;
  background: rgba(48, 48, 48, 1) 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 2;
  border-top: 550px solid transparent;
  border-left: 966px solid rgba(48, 48, 48, 1);
  border-bottom: 550px solid transparent;
}
.backcoloer-light-parent {
  position:relative;
  width: 1440px;
  overflow: hidden;
}

.feature-backcoloer-light {
  position: absolute;
  /* top: 1765px; heightを短くしたため、その分topを下げる*/
  top: 2324px;
  right: 0;
  /** heightは余分な長さをカット 上559px**/
  /* height: 1590px; */
  height: 1160px;
  opacity: 0.62;
  border-right: 1300px solid  rgba(151, 151, 151, 1);
  border-top: 800px solid transparent;
  border-bottom: 400px solid transparent;
}

.campain-background-gradation {
  position: absolute;
  /* Layout Properties */
  top: 3276px;
  left: 0.000244140625px;
  width: 1440px;
  height: 1100px;
  /* border-left: 1440px solid;
  border-top: 550px solid transparent;
  border-bottom: 550px solid transparent;
  border-image:linear-gradient(180deg, rgba(229, 44, 134, 1) 0%, rgba(255, 180, 216, 1) 100%);
  border-image-slice: 8; */
  /* UI Properties */
  background: url('../img/パス\ 97.png') 0% 0% no-repeat padding-box;
  z-index: 2;
}

.feature-inner-picture {
  width: 1440px;
}

.feature-inner-picture1 {
  position: relative;
  /* Layout Properties */
  width: 849px;
  height: 498px;
  margin-top: 89px;
  margin: 89px auto 150px auto;
  /* UI Properties */
  background: transparent url('../img/グループ 309.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
}

.feature-inner-picture2 {
  position: relative;
  margin: 0 auto 150px auto;
  width: 859px;
  height: 498px;
  /* UI Properties */
  background: transparent url('../img/グループ 310.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
  overflow: hidden;
}

.feature-inner-picture3 {
  position: relative;
  margin: 0 auto 128.94px auto;
  width: 859px;
  height: 498px;
  /* UI Properties */
  background: transparent url('../img/グループ 311.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
}

.feature-logo {
  position: absolute;
  top: 4323px;
  left: 11px;
  width: 577px;
  height: 210px;
  background: transparent url('../img/REGULS.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
}

.feature-inner-picture4 {
  position: relative;
  margin: 0 auto 34px auto;
  width: 557px;
  height: 131px;
  /* UI Properties */
  background: transparent url('../img/グループ 312.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
}

.featuer-context-picture {
  position: relative;
  /* Layout Properties */
  /* position: absolute; */
  /* top: 4446px;
  left: 0px; */
  width: 1440px;
  height: 598px;
  padding-top: 67px;
  /* UI Properties */
  background: transparent url('../img/グループ 98.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 9;
}

.feature-inner-picture4-context {
  /* top: 4678px;
  left: 281px; */
  width: 934px;
  height: 235px;
  /* UI Properties */
  background: transparent url('../img/グループ 235.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
  margin: 0 auto;
}

/**************このような方におすすめ〜************/
.recommendation {
  background: #242424 0% 0% no-repeat padding-box;
}
.recommendation-title  {
  position: relative;
  /* Layout Properties */
  margin: 150.08px auto 62.81px auto;
  width: 573px;
  height: 120px;
  /* UI Properties */
  background: transparent url('../img/グループ 103.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
}
.recommendation-list  {
  position: relative;
  /* top: 5377px;
  left: 183px; */
  margin: 0 auto;
  width: 1074px;
  height: 440px;
  background: transparent url('../img/グループ 242.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
}

.feature-backcoloer-dark2 {
  /* Layout Properties */
  position: absolute;
  top: 4446px;
  /* left: 0.00048828125px; */
  width: 966px;
  height: 1100px;
  /* UI Properties */
  background: var(--unnamed-color-303030) 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 2;
  border-top: 550px solid transparent;
  border-left: 966px solid rgba(48, 48, 48, 1);
  border-bottom: 550px solid transparent;
}

.feature-backcoloer-empty {
  position: absolute;
  top: 4446px;
  right: 0;
  /* left: 0.00048828125px; */
  width: 966px;
  height: 1100px;
  background: #242424 0% 0% no-repeat padding-box;
  z-index: 0;
}


/*********************price 料金表〜**********************/
.price-image-small {
  position: absolute;
  top: 5918px;
  left: 140px;
  width: 176px;
  height: 181px;
  background: transparent url('../img/clay rg-76.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
}

.price-image-big {
  position: absolute;
  top: 6037px;
  right: 95px;
  width: 246px;
  height: 246px;
  background: transparent url('../img/IMG_2223.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
}

.price-logo {
  position: relative;
  /* top: 5967px;
  left: 653px; */
  margin: 150px auto 40px auto;
  width: 135px;
  height: 124px;
  background: transparent url('../img/グループ 112.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.price-content {
  /* top: 6131px;
  left: 290px; */
  width: 757px;
  height: 152px;
  margin-left: 290px;
  margin-right: 393px;
  margin-bottom: 96px;
  background: transparent url('../img/グループ 250.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.reguls-course {
  width: 100%;
  height: 562px;
  display: flex;
  list-style:none;
}

.course {
  /* top: 6379px;
  left: 167px; */
  width: 329px;
  height: 571px;
  background: transparent url('../img/コンポーネント 3 – 1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.one {
  margin-left: 167px;
}
.two {
  margin: 0 64px;
}
.three {
  margin-right: 167px;
}

/*******************タイムテーブル************************/
.time-table {
  width: 1440px;
  height: 2382.67px;
  background: #242424 0% 0% no-repeat padding-box;
  padding-top:150px;
}

.time-table-title {
  /* top: 7100px;
  left: 585px; */
  margin: 0 auto 48.73px auto;
  width: 271px;
  height: 124px;
  background: transparent url('../img/グループ 120.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.time-table-image {
  position: relative;
  /* top: 7273px;
  left: 140px; */
  width: 1010px;
  height: 1331px;
  margin: 0 auto 45px 145px;
  background: transparent url('../img/グループ 313.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
}

.time-table-note {
  /* top: 8649px;
  left: 233px; */
  position: relative;
  margin: 0 auto 150 auto;
  width: 975px;
  height: 29px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-29) var(--unnamed-font-family-noto-sans-jp);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal normal 20px/29px Noto Sans JP;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  z-index: 10;
}

.time-table-campaign {
  /* top: 8828px;
  left: 305px; */
  position: relative;
  margin: 0 auto 110px auto;
  width: 831px;
  height: 467px;
  background: transparent url('../img/コンポーネント 5 – 1.png') 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #FFFFFF53;
  opacity: 1;
  z-index: 10;
}

.time-table-background-light {
  position: absolute;
  /* width: 2687px;
  height: 2149px; */
  /** heightは余分な長さをカット 上559px**/
  /* height: 1590px; */
  /* height: 1160px;
  opacity: 0.62; */
  /* border-right: 1300px solid  rgba(151, 151, 151, 1);
  border-top: 800px solid transparent;
  border-bottom: 400px solid transparent; */
  top: 6444px;
  /* top: 7000px; */
  left: -39.61346435546875px;
  /* width: 2687px; */
  /* width: 1440px; */
  /* height: 2149px; */
  height: 1149px;
  /* transform: matrix(-1, 0, 0, -1, 0, 0);
  background: var(--unnamed-color-979797) 0% 0% no-repeat padding-box; */
  background: #979797 0% 0% no-repeat padding-box;
  border-top: 1270px solid transparent;
  border-bottom: 900px solid transparent;
  border-right: 2687px solid  rgba(151, 151, 151, 1);
  opacity: 0.62;
}

.time-table-background-pink {
  position: absolute;
  top: 8233px;
  left: 0.000244140625px;
  width: 1440px;
  height: 1100px;
  background: transparent url('../img/パス 97.png') 0% 0% no-repeat padding-box;
  opacity: 0.9;
  z-index: 9;
}

/**************************アクセス************************************/
.access {
  background: #242424 0% 0% no-repeat padding-box;
  padding-top: 110px;
  padding-bottom: 99px;
}
.access-logo {
  /* top: 9405px;
  left: 636px; */
  width: 168px;
  height: 124px;
  margin: 0px auto 100px auto;
  background: transparent url('../img/グループ 142.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.access-map {
  /* top: 9629px;
  left: 0px; */
  width: 1440px;
  height: 384px;
  background: transparent url('../img/グループ 141.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-bottom: 53px;
}

.access-content-box {
  width: 1440px;
  /* height: 264px; */
  margin-top: 53px;
}
.access-content-box-child {
  width: 1069.45px;
  /* height: 264px; */
}

.access-content {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-noto-serif-jp);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  font: normal normal medium 18px/26px Noto Serif JP;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.access-content {
  display: block;
  margin-bottom: 40px;
  height: 32px;
}
.logo {
  display: inline-block;
  margin-right: 36px;
}

.address-logo {
  /* top: 10066px;
  left: 222px; */
  width: 32px;
  height: 43px;
  background: transparent url('../img/Icon awesome-map-marker-alt.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.telephone-logo {
  /* top: 10149px;
  left: 222px; */
  width: 32px;
  height: 33px;
  background: transparent url('../img/Icon feather-phone.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.day-logo {
  /* top: 10222px;
  left: 222px; */
  width: 32px;
  height: 32px;
  background: transparent url('../img/Icon ionic-md-time.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.access-content-box-child {
  margin: 0 auto;
}
.nearest-logo {
  /* top: 10294px;
  left: 222px; */
  width: 32px;
  height: 36px;
  background: transparent url('../img/Icon awesome-train.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.address {
  margin-top: 0;
}

.inner-content {
  /* vertical-align: top; */
  /* margin-top: 9÷px; */
  display: inline-block;
  height: 20px;
}

.support-bottom {
  /* top: 1765px;
  left: 227px; */
  position: relative;
  width: 960px;
  height: 245px;
  background: transparent url('../img/コンポーネント 2 – 1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: 140px auto 0 auto;
  z-index: 10;
}

.footer {
  width: 1440px;
  height: 60px;
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 22px;
}

.footer > p {
  margin: 0 auto;
  width: 356px;
  height: 17px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/17px var(--unnamed-font-family-noto-sans-jp);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal normal 12px/17px Noto Sans JP;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.recommendation-and-price {
  background: #242424 0% 0% no-repeat padding-box;
}